<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect to public">
                    <match url=".*" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/public/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/public/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
