html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    background-color: #1b7402;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    height: 120px;
    position: relative;
}

#logo img {
    max-height: 100%;
    width: auto;
}

#clock {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 16px;
    text-align: right;
}

.center-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.w3-card-4 {
    width: 65%;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

#form-content {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px; /* Space between form groups */
}

.line-input {
    border: none; /* Remove default border */
    border-bottom: 2px solid black; /* Line effect */
    padding: 10px; /* Adjust padding */
    width: 80%; /* Adjust width */
    font-size: 16px; /* Font size for input */
}

.line-input:focus {
    outline: none; /* Remove outline on focus */
    border-bottom: 2px solid #4CAF50; /* Change line color on focus */
}

.form-group label {
    font-weight: bold; /* Bold labels */
    margin-bottom: 5px; /* Space below labels */
}

.btn-con {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button-common {
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Button padding */
    cursor: pointer; /* Change cursor to pointer */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
}

.button-common:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 18px; /* Adjust icon size */
    vertical-align: middle; /* Align icon vertically */
}
